<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Registration |  Debug Force</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/static/assets/img/logo.png" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#;">Product</a></li>
          <li><a class="nav-link scrollto" href="#;">Company</a></li>
          <li><a class="nav-link scrollto" href="#;">Brands</a></li>
          <li><a class="nav-link scrollto" href="#;">Contact</a></li>
          <li><a class="nav-link scrollto" href="#;">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
<div class="hraderright">
  <ul id="navbar1" class="navbar list-none">
         <li><a class="nav-link scrollto" href="/login">Login</a></li>
          <li><a class="getstarted scrollto" href="/register">Registration</a></li>
  </ul>
  
</div>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section  class="sectionone d-flex align-items-center">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 col-sm-4 login-img">
          <img src="/static/assets/img/registration.png" alt="">
        </div>
        <div class="col-lg-7 col-sm-7 mx-auto my-auto fomrsection aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
              <div class="forminner">
                <div class="formtitle">
                  <h3>Sign up</h3>
                  <p>Let’s get you all st up so you can access your personal account.</p>
                </div>
                <div id="error-message" style="color: red;"></div>
                <div class="fomrbox">  
                  <form id="registration-form" action="/register" method="post">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="first_name" required>
                          <label for="floatingInput">First Name</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="last_name" required>
                          <label for="floatingInput">Last Name</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
                          <label for="floatingInput">Email address</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating mb-3">
                          <input type="tel" class="form-control" id="floatingInput" placeholder="Phone" name="phone" required>
                          <label for="floatingInput">Phone</label>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="password" required>
                          <label for="floatingInput">Password</label>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" id="floatingInput" placeholder="Confirm Password" name="confirm_password" required>
                          <label for="floatingInput">Confirm Password</label>
                        </div>
                      </div>
                      <div class="col-sm-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label" for="flexCheckDefault">
                          I agree to all the <a href="#;">Terms</a> and <a href="#;">Privacy Policies</a>
                        </label>
                      </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="createAccountBtn">Create Account</button>
                        <div class="alreadyacc">Already have an account? <a href="/login">Login</a></div>
                      </div>
                    </div>
                  </form>
                </div>  
              </div>
         </div>
      </div>
    </div>
    <!-- Verification Modal -->
    <div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title varificationHeader" id="verificationModalLabel">Verification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p><span class="small-text">Verification code sent to: </span><span id="emailDisplay"></span></p>
                  <div id="errorContainer" style="color: red;"></div>
                  <div class="mb-3">
                      <label for="verificationCode" class="form-label">Verification Code</label>
                      <input type="text" class="form-control" id="verificationCode" required>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="verifyCodeBtn">Verify</button>
              </div>
          </div>
      </div>
    </div>
    <!-- Success Modal -->
    <div id="success_tic" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="page-body">
            <div class="head">  
              <h3 style="margin-top:5px;">Congratulations!</h3>
              <h4>Your account has been successfully created.</h4>
            </div>
            <h1 style="text-align:center;">
              <div class="checkmark-circle">
              <div class="background"></div>
              <div class="checkmark draw"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const createAccountBtn = document.getElementById('createAccountBtn');
      const registrationForm = document.getElementById('registration-form');
      const emailInput = document.querySelector('input[name="email"]');
      const verificationModalLabel = document.getElementById('verificationModalLabel');
      const emailDisplay = document.getElementById('emailDisplay');
      const verificationCodeInput = document.getElementById('verificationCode');
      const termsCheckbox = document.getElementById('flexCheckDefault');
      const errorContainer = document.getElementById('errorContainer');

      // Disable the Create Account button initially
      createAccountBtn.disabled = true;

      registrationForm.addEventListener('submit', (event) => {
        event.preventDefault();
        $('#error-message').text('').hide();
        // Disable the submit button to prevent multiple submissions
        createAccountBtn.disabled = true;
      
        $.ajax({
          url: '/register',
          method: 'POST',
          data: $(registrationForm).serialize(),
          success: function(response) {  
            if(response.error){
              $('#error-message').text(response.error).show();
            }else{
              $('#verificationModal').modal('show');
              emailDisplay.textContent = emailInput.value;
            }
          },
          error: function() {
            $(errorContainer).text("Error occurred while registering.").show();
          },
          complete: function() {
            // Enable the submit button after the AJAX call is completed
            createAccountBtn.disabled = false;
          }
        });
      });
      
      $('.btn-secondary[data-bs-dismiss="modal"]').click(function(){
        $(errorContainer).text(''); // Clear error message
        document.getElementById("verificationCode").value = "";
      });

      $('.btn-close[data-bs-dismiss="modal"]').click(function(){
        $(errorContainer).text(''); // Clear error message
        document.getElementById("verificationCode").value = "";
      });

      $('#verifyCodeBtn').click(function() {
        let email = emailDisplay.textContent;
        let code = verificationCodeInput.value;
        $(errorContainer).text('').hide();
        $.ajax({
            url: '/verify',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ email: email, code: code }),
            success: function(response) {
                if (response.success) {
                  $('#verificationModal').modal('hide');  // Close the modal  
                  const successModal = new bootstrap.Modal(document.getElementById('success_tic'));
                  successModal.show();
                  setTimeout(() => {
                    successModal.hide();
                    window.location.href = '/login';
                  }, 3000);
                } else {
                    $(errorContainer).text(response.error).show();
                }
            },
            error: function() {
                $(errorContainer).text("Error occurred while verifying.").show();
            }
        });
    });
    

      registrationForm.addEventListener('input', () => {
        // Enable or disable Create Account button based on form validation
        createAccountBtn.disabled = !emailInput.validity.valid || !termsCheckbox.checked;
      });

    });
  </script>
</section>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="/static/assets/img/logo.png" alt="">
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Debug Force</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>